WeatherApp.xcodeproj/xcuserdata
WeatherApp.xcodeproj/project.xcworkspace/xcuserdata
Pods/
WeatherApp.xcworkspace/xcuserdata
WeatherApp.xcworkspace/xcshareddata
WeatherApp.xcworkspace/project.xcworkspace/xcuserdata
WeatherApp.xcworkspace/contents.xcworkspacedata